body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-image: url("assets/staticBG.jpg");
  background-repeat: repeat;
  background-color: #020407;
}

h1 {
  padding: 10px 0px 10px 0px;
}

/* This changes color and removes default underline in links  */

a {
  color: #69CBBB;
  text-decoration: none;
}

/* Centers images */

img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

.static-div {
  background-image: url("assets/colorDistortionBG.jpg");
  background-repeat: repeat;
  padding: 40px;
  margin-bottom: 60px;
}

.static-div p, .static-div h1 {
  background-color: #020407;
  color: #ffffff;
}

.black-div {
  padding: 10px;
  background-color: #020407;
  color: #ffffff;
  text-align: left;
  margin-bottom: 60px;
}
