body {
  background-image: url("https://cdn3.volusion.com/kapts.nrbqf/v/vspfiles/photos/PEKINDUCKBREASTBONELESS16-2.jpg?1496409148");
}


p {
  font-size: 16px;
  color: blue;
}

h1 {
  color: pink;
}
