<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Lark VCR</title>
  <meta name="description" content="Lark VCR works in video, installation, interactive media, critical design, and performance. VCR stands for Virtually Conflicted Reality. A common thread in their work is multiplicity of meaning and experience in an increasingly digitized world.">
  <meta name="keywords" content="Lark Alder, Lark VCR, Lark V.C.R, Lark Buckingham, artist">
  <meta name="robots" content="follow">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <script src="libraries/p5.js" type="text/javascript"></script>
  <script src="libraries/p5.dom.js" type="text/javascript"></script>
  <!-- <script src="libraries/p5.sound.js" type="text/javascript"></script> -->
  <!-- <script src="libraries/p5.play.js" type="text/javascript"></script> -->


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
  <script src="sketch.js" type="text/javascript"></script>


</head>

<body>
  <!-- <ul class="links">
    <li><a class="activeLink" href="/">home</a></li>
    <li><a class="greenLink" href="projects/index.html">projects</a></li>
    <li><a class="pinkLink" href="about/bio-CV.html">bio/CV</a></li>
    <li><a class="chartreuseLink" href="about/contact.html">contact</a></li>
    <li><img class="platform" src="assets/stripes/platform_small.svg" alt="Lark Alder or Lark VCR, aka Virtually Conflicted Reality">
  </ul> -->
  <div id="bgCanvas">
  </div>

  <div class="container-fluid">

    <div class="row">
      <div class="col-4" >
K
      </div>
      <div class="col-6">
R
      </div>
      <div class="col-2"> AKEN</div>
    </div>
    <div class="row" id="sandDingRow">
      <div class="col-2">pt. 1 beach people</div>
      <div class="col-6" id="sandVideoDiv">

      </div>
      <div class="col-4" id="dingManVideoDiv">
      </div>
    </div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8" id="canvasDiv">
  </div>
</div>
  </div>
  <footer>
    <!-- <p>( ＾◡＾)っ✂   website by lark VCR 2018</p> -->
  </footer>
</body>

</html>
